body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: url("../assets/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Position it at the top of the page */
    width: 100%; /* Make it span the full width of the page */
    z-index: 1000; /* Ensure it is above other content */
}

.navbar a {
    float: left;
    display: block;
    color: orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: orangered;
    color: black;
}